// 使用不同的font-awesome 作法
.top-nav
  .profile
    img(
      src="https://april808.github.io/blog_website/assets/image/logo/MyLogo.vectornator1.svg",
      alt="MyLogo"
    )
  div
    input#addcss(type="checkbox" onclick="toggleblack();", name="切換黑色" checked)
    label(for="addcss") 切換
  .LinkList
    ul
      li
        a(href="https://codepen.io/april808" target="_blank" web-name="Codepen") 
      li
        a(href="https://github.com/april808" target="_blank" web-name="Github") 
      hr
      li
        a(href="https://twitter.com/home" target="_blank" web-name="Twitter") 
      li
        a(href="https://www.facebook.com" target="_blank" web-name="Facebook") 
      li
        a(href="https://www.instagram.com" target="_blank" web-name="Instagram") 
      li
        a(href="https://codepen.io/april808/live/MWBKqyv" target="_blank" web-name="April808") 
      hr
      li
        a(href="#") 
          i.fa-brands.fa-codepen
          span 123
      li
        a(href="#") 
          i.fa-brands.fa-github
          span 123
.allstars
  .star1 
  .star2 
  .star3 
  .star4 
  .star5 
  .star6 
  .star7 
  .star8 
  .star9 
  .star10 
  .star11 
  .star12 
  .star13 
  .star14 
  .star15 
  .star16 
  .star17 
  .star18 
  .star19 
  .star20 
  .star21 
  .star22 
  .star23 
  .star24 
  .star25 
  .star26 
  .star27 
  .star28 
  .star29 
  .star30 